* {
  margin: 0px;
  padding: 0px;
}
html, body {
    height: 100%;
}
.main {
  display: flex;
  height: 100%;
  overflow: hidden;
}
.side-image {
  width: 40%;
}
.side-hero-image {
  width: 100%;
  height: 100%;
}
.side-form {
    width: 60%;
    padding: 0px;
}
.main-form{
    padding: 3em;
}
