* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
html, body {
    height: 100%;
}
.main {
  display: flex;
  height: 100%;
  overflow: hidden;
}
.side-image {
  width: 40%;
}
.side-hero-image {
  width: 100%;
  height: 100%;
}
.side-form {
    width: 60%;
    padding: 0px;
    background-color: rgb(248, 248, 248);
}
.para{
    padding: 3em;
    padding-top: 100px;
    padding-bottom: 50px;
}
.para p {
    font-size: 24px;
    font-weight: 600;
}
.inner-form {
    padding: 3em;
    padding-top: 25px;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}
.form-legend {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 20px;
}
#submit {
    margin: 4em;
    margin-bottom: 15px;
    padding: 14px;
    border-radius: 7px;
    background-color: rgb(13, 126, 239);
    color: #fff;
    border: 0px;
}
.has-account {
    margin-left: 3.5em;
    font-size: 15px;
}
.inputs {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 50px 50px 50px;
    column-gap: 100px;
    row-gap: 10px;
}
.inputs label{
    font-family: sans-serif;
    color: rgb(37, 37, 37);
    font-size: 13px;
    padding-left: 3px;
}
.inputs input{
    padding: 6px;
    border-radius: 6px;
    border: 1px solid rgb(198, 198, 198);
}
input:focus {
    outline: none !important;
    border: 2px solid rgb(13, 126, 239);
    box-shadow: 0px 3px 10px rgb(13, 126, 239);
}